.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.form_error_message,
.form_success_message {
    text-align: center;
    font: bold !important;
    font-size: xx-large;
    border: 1px gray solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.form_error_message {
    color: red !important;
    /* background-color: ; */
}

.form_success_message {
    color: white !important;
}

.form_submit_btn {
    background-color: #d8d8d8;
    color: #000;
}

.form_submit_btn:hover {
    background-color: slateblue;
    color: white;
}

.form_title {
    font-weight: bolder !important;
    font-size: xx-large;
    margin-bottom: 10px;
}

.FormElement_Error {
    border: 1px red solid !important;
}

.FormElement_Error_Message {
    color: red;
    font-weight: bolder !important;
}